%section#main-slider.no-margin
  .carousel.slide
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#main-slider"}
      %li{"data-slide-to" => "1", "data-target" => "#main-slider"}
      %li{"data-slide-to" => "2", "data-target" => "#main-slider"}
    .carousel-inner
      .item.active{:style => "background-image: url(images/slider/Benditta-site.png)"}
        .container
          .row.slide-margin
            .col-sm-6
              /
                <div class="carousel-content">

                <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                </div>
            .col-sm-6.hidden-xs.animation.animated-item-4
              .slider-img
                %img.img-responsive{:src => ""}/
      / /.item
      .item{:style => "background-image: url(images/slider/bg2.jpg)"}
        .container
          .row.slide-margin
            .col-sm-6
              .carousel-content
                %h1.animation.animated-item-1 Lorem ipsum dolor sit amet consectetur adipisicing elit
                %h2.animation.animated-item-2 Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...
                %a.btn-slide.animation.animated-item-3{:href => "#"} Read More
            .col-sm-6.hidden-xs.animation.animated-item-4
              .slider-img
                %img.img-responsive{:src => "images/slider/img2.png"}/
      / /.item
      .item{:style => "background-image: url(images/slider/bg3.jpg)"}
        .container
          .row.slide-margin
            .col-sm-6
              .carousel-content
                %h1.animation.animated-item-1 Lorem ipsum dolor sit amet consectetur adipisicing elit
                %h2.animation.animated-item-2 Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...
                %a.btn-slide.animation.animated-item-3{:href => "#"} Read More
            .col-sm-6.hidden-xs.animation.animated-item-4
              .slider-img
                %img.img-responsive{:src => "images/slider/img3.png"}/
      / /.item
    / /.carousel-inner
  / /.carousel
  %a.prev.hidden-xs{"data-slide" => "prev", :href => "#main-slider"}
    %i.fa.fa-chevron-left
  %a.next.hidden-xs{"data-slide" => "next", :href => "#main-slider"}
    %i.fa.fa-chevron-right
/ /#main-slider
/ Retirei o Features
%section#recent-works
  .container
    .center.wow.fadeInDown
      %h2.title-geral Últimos Projetos
    .row
      - @bendittas.each do |benditta|
        .col-xs-12.col-sm-4.col-md-3
          .recent-work-wrap
            %img.img-responsive{:alt => "", :src => "#{benditta.photo}"}/
            .overlay
              .recent-work-inner
                %h3w
                  = link_to benditta.name , '#'
                %p
                  %b
                    Categoria:
                  = benditta.category
                %a.preview{:href => "benditta.photo", :rel => "prettyPhoto"}
                  %i.fa.fa-eye
                  ver
    / /.row
  / /.container
/ /#recent-works
%section#services.service-item
  .container
    .center.wow.fadeInDown
      %h2.title-blog-mariazi Blog da Maria Zi
      %p.lead
    .row
      - @posts.each do |post|
        .col-sm-6.col-md-4
          .media.services-wrap.wow.fadeInDown
            .pull-left
              %img.img-responsive{:src => "#{post.photo}"}/
            .media-body
              %h3.media-heading
                = post.title
              -# %p
              -#   Lorem ipsum dolor sit ame consectetur adipisicing elit
    / /.row
  / /.container
/ /#services
%section#content
  .container
    .row
      .col-xs-12.col-sm-12.wow.fadeInDown
        .testimonial
          %h2 Testimonials
          .media.testimonial-inner
            .pull-left
              %img.img-responsive.img-circle{:src => "images/testimonials1.png"}/
            .media-body
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              %span
                %strong -John Doe/
                Director of corlate.com
          .media.testimonial-inner
            .pull-left
              %img.img-responsive.img-circle{:src => "images/testimonials1.png"}/
            .media-body
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              %span
                %strong -John Doe/
                Director of corlate.com
    / /.row
  / /.container
/ /#content
%section#partner
  .container
    .center.wow.fadeInDown
      %h2 Eventos que Participamos
      %p.lead
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        %br/
        et dolore magna aliqua. Ut enim ad minim veniam
    .partners
      %ul
        %li
          %a{:href => "#"}
            %img.img-responsive.wow.fadeInDown{"data-wow-delay" => "300ms", "data-wow-duration" => "1000ms", :src => "images/partners/partner1.png"}/
        %li
          %a{:href => "#"}
            %img.img-responsive.wow.fadeInDown{"data-wow-delay" => "600ms", "data-wow-duration" => "1000ms", :src => "images/partners/partner2.png"}/
        %li
          %a{:href => "#"}
            %img.img-responsive.wow.fadeInDown{"data-wow-delay" => "900ms", "data-wow-duration" => "1000ms", :src => "images/partners/partner3.png"}/
        %li
          %a{:href => "#"}
            %img.img-responsive.wow.fadeInDown{"data-wow-delay" => "1200ms", "data-wow-duration" => "1000ms", :src => "images/partners/partner4.png"}/
        %li
          %a{:href => "#"}
            %img.img-responsive.wow.fadeInDown{"data-wow-delay" => "1500ms", "data-wow-duration" => "1000ms", :src => "images/partners/partner5.png"}/
  / /.container
/ /#partner
%footer#footer.midnight-blue
  .container
    .row
      .col-sm-6
        © 2015
        = succeed "." do
          %a{:href => "http://shapebootstrap.net/", :target => "_blank", :title => "Free Twitter Bootstrap WordPress Themes and HTML templates"} ShapeBootstrap
      .col-sm-6
        %ul.pull-right
          %li
            %a{:href => "#"} Home
          %li
            %a{:href => "#"} Quem Somos
          %li
            %a{:href => "#"} Contato
/ /#footer
