= simple_form_for @doll do |f|
  %h3.ui.dividing.header
    Dados básicos
  .fields
    .three.wide.field
      = f.input :name, placeholder: "Informe o título"
    .three.wide.field
      = f.input :status, as: :select, include_blank: false
    .three.wide.field
      = f.input :category, as: 'select', collection: ::Doll.categories.keys.to_a,include_blank: false, label: "Categoria"
  .fields
    .three.wide.field
      = f.input :sku, placeholder: "Informe o sku"
    .three.wide.field
      = f.input :photo, as: :file
      -# = link_to "visualizar arquivo atual", f.object.photo.url, target: '_blank' if !f.object.photo.to_s.empty?
  .fields
    .sixteen.wide.field
      = f.input :description, input_html: { style: 'min-height: 500px', id: 'textarea'}
  .divider
  .fields
    .sixteen.wide.field
      = f.button :submit, class: 'ui button green'
      = link_to t(:cancel), users_path, class: 'ui button gray'
