.ui.grid
  .row
    .column
      %h1.ui.header
        Bonecas
        .sub.header
          Dados
      = link_to "Voltar para listagem", dolls_path, class: 'ui yellow button no-print'
  .row
    .column
      .ui.segment.yellow
        %table.ui.celled.striped.table
          %thead
            %tr
              %th Cod.
              %th Nome
              %th Categoria
          %tbody
            %tr
              %td= @doll.name
              %td= @doll.name rescue nil
              %td= @doll.category rescue nil
        %table.ui.celled.striped.table
          %thead
            %tr
              %th Foto 1
              %th Foto 2
              %th Foto 3
          %tbody
            %tr
              %td= image_tag(@doll.photo, width: '150') rescue nil
              %td= image_tag(@doll.photoa, width: '150') rescue nil
              %td= image_tag(@doll.photob, width: '150') rescue nil
        %table.ui.celled.striped.table
          %thead
            %tr
              %th description
              %th Publicado?
              %th Data de Inclusão
          %tbody
            %tr
              %td= @doll.description
              %td= @doll.status ? "Sim" : "Não"
              %td= @doll.created_at.strftime("%d/%m/%Y - %H:%M:%S")
