= simple_form_for @exam do |f|
  %h3.ui.dividing.header 
    Dados básicos
  .fields
    .four.wide.field
      = f.association :exam_type, include_blank: 'selecione..', placeholder: "Informe o último nome", input_html: { id: 'select-option' }
      %p
        %b= f.hint link_to "+ Adicionar nova categoria", new_exam_type_path, remote: true
    .nine.wide.field
      = f.input :name
    .four.wide.field
      = f.input :status, as: :select, include_blank: false
  .divider
  .fields
    .sixteen.wide.field
      = f.button :submit, class: 'ui button green'
      = link_to t(:cancel), exams_path, class: 'ui button gray'