- if @exam_types.present?
  - @exam_types.each do |exam_type|
    %tr
      %td= exam_type.id
      %td= exam_type.name
      %td= exam_type.status ? "ativo" : "Inativo"
      %td= exam_type.created_at.strftime("%d/%m/%Y")
      %td.collapsing
        = link_to exam_type_path(exam_type), class: 'ui button icon gray mini' do
          %i.icon.eye
        = link_to edit_exam_type_path(exam_type), class: 'ui button icon blue mini' do
          %i.icon.pencil
        = link_to exam_type_path(exam_type), method: :delete, data: { confirm: t(:confirm), disable_with: t(:disable_with) }, class: 'ui button icon red mini' do
          %i.icon.remove
- else
  %tr
    %td{colspan: 5}
      %i Nenhum tipo cadastrado.
