= simple_form_for @clinic do |f|
  %h3.ui.dividing.header 
    Dados básicos
  .field
    .sixteen.wide.field
      = f.input :name, placeholder: "Informe o nome da clínica"
  .fields
    .three.wide.field
      = f.input :cnpj, input_html: { class: 'cnpj' }
    .nine.wide.field
      = f.input :fantasy_name, placeholder: "Informe o nome fantasia da clínica"
    .four.wide.field
      = f.input :brand, as: :file
  .fields
    .two.wide.field
      = f.input :telephone
    .two.wide.field
      = f.input :celphone
    .four.wide.field
      = f.input :website
    .five.wide.field
      = f.input :responsible
    .three.wide.field
      = f.input :crm
  .divider
  %h3.ui.dividing.header 
    Endereço / Logradouro
  .fields
    .two.wide.field
      = f.input :cep
    .four.wide.field
      = f.input :city
    .two.wide.field
      = f.input :state
    .nine.wide.field
      = f.input :address
    .three.wide.field
      = f.input :neighborhood
  .field
    = f.input :attendance_hour, as: :string
  .field
    = f.input :description, as: :string
  .field
    = f.input :acting, as: :string
  .field
    = f.input :location, as: :string
  .divider
  %h3.ui.dividing.header 
    Informações ExameAqui
  .fields
    .field.two.wide
      = f.input :visit_date, as: :string, input_html: { class: 'date', value: f.object.visit_date.present? ? localize(f.object.visit_date) : nil}
    .field.two.wide
      = f.input :contract_date, as: :string, input_html: { class: 'date', value: f.object.contract_date.present? ? localize(f.object.contract_date) : nil}
    .field.two.wide
      = f.input :status, as: :select, include_blank: false
  .divider
    .field
      = f.button :submit, class: 'ui button green', data: { disable_with: t(:disable_with)}
      = link_to "Voltar para listagem", clinics_path, class: 'ui button gray'